<h1>Editing Project</h1>

<%= render "form", project: @project %>


<br>

<div class="col-5">
  <%= link_to "Show this project", @project %> |
  <%= link_to "Back to projects", projects_path %>
</div>

<style>
    h1{
       color:blue;
       font-family: "Times New Roman", Times, serif;
    }
    </style>