<div class="container-fluid bg-primary text-center">
  <h1>Editing Project</h1>
</div>

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
<a href="#" class="navbar-brand mb-0 h1">
    <img class="d-inline-block align-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_n52StbON7o3oaJdq92uDnnvvonKIOUcBIQ&usqp=CAUNavbar"
    width="30" height="30"></img>
Navbar 
</a>

<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
</button>



<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a href="http://localhost:3000/projects" class="nav-link active" >Home</a>
        </li>

        <li class="nav-item dropdown">
  
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Signup/Signin</a>
            <div class="dropdown-menu">
                <a href="http://localhost:3000/users/sign_in" class="dropdown-item">Sign Up</a>
                <a href="http://localhost:3000/users/sign_in" class="dropdown-item">Sign In</a>
            </div>
        </li>


        
        <li class="nav-item active">
            <a class="nav-link active" href="http://localhost:3000/projects/new">Create Project</a>
        </li>
    </ul>
</div>
</nav>


<%= render "form", project: @project %>


<br>

<div>
  <%= link_to "Show this project", @project, class: "btn btn-primary" %> |
  <%= link_to "Back to projects", projects_path, class: "btn btn-primary" %>
</div>


